#pagina {
	background-color: white;
}

#barra {
	display: flex;
	width: 100%;
	background-color: #044384;
}

#logo {
	display: flex;
	width: 20%;
}

#menu {
	display: flex;
	width: 80%;
	background-color: #044384;
	color: white;
	font-family: Arial;
	align-items: center;
	justify-content: right;
	margin-right: 20px;
}

#conteudo {
	display: flex;
	height: 700px;
	background-color: gray;
}

#rodape {
	display: flex;
	height: 100px;
	background-color: #044384;
	color: white;
	justify-content: center;
	font-family: Arial;
	font-weight: bold;
	align-items: center;	
}
